*.flat
.gradle/5.6.4/gc.properties
.gradle/5.6.4/executionHistory/executionHistory.bin
.gradle/5.6.4/executionHistory/executionHistory.lock
.gradle/5.6.4/fileChanges/last-build.bin
*.lock
.gradle/5.6.4/fileHashes/
.gradle/
.idea/
Daily Locally.iml
local.properties
app/app.iml
caldroid/caldroid.iml
caldroid/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
caldroid/build/
app/debug/DL-V1-DEV8000.apk
app/debug/DL-V1-DEV8000-10.apk
app/debug/output.json
