<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailylocally">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utilities.DailylocallyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="locked">

        </activity>
        <activity
            android:name=".utilities.nointernet.InternetErrorFragment"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="locked">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.fagsandsupport.FaqsAndSupportActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.privacy.PrivacyActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.registration.RegistrationActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.tandc.TermsAndConditionActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.opt.OtpActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.faqs.FaqActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.update.UpdateActivity"
            android:screenOrientation="locked" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--
                <meta-data
                    android:name="com.google.android.geo.API_KEY"
                    android:value="AIzaSyD9CpR26YRmJrzlnBtyG5jwu0vJmGEQljM" />
        -->
        <!-- <meta-data
             android:name="com.google.android.geo.API_KEY"
             android:value="AIzaSyDHiPip3fSYDLIhyrHV3uavqH2nONtqEbw" />-->

        <!--Map project-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXJ8B09pd-oTTcBgTOJv5hmT9Yevtdu5o" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.video.VideoActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="sensor" />

        <activity
            android:name=".ui.category.l1.CategoryL1Activity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.category.l2.CategoryL2Activity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.address.googleAddress.GoogleAddressActivity"
            android:screenOrientation="locked"></activity>
        <activity
            android:name=".ui.subscription.SubscriptionActivity"
            android:screenOrientation="locked"></activity>
        <activity
            android:name=".ui.orderplaced.OrderPlacedActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.referrals.ReferralsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.calendarView.CalendarActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.address.addAddress.AddressNewActivity"
            android:screenOrientation="locked">

        </activity>
        <activity
            android:name=".ui.address.viewAddress.ViewAddressActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.address.saveAddress.SaveAddressActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.productDetail.ProductDetailsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.coupons.CouponsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.category.viewall.CatProductActivity"
            android:screenOrientation="locked" />


        <activity
            android:name=".ui.transactionHistory.view.TransactionDetailsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.productDetail.productDetailCancel.ProductCancelActivity"
            android:screenOrientation="locked">

        </activity>
        <activity
            android:name=".ui.rating.RatingActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.collection.l2.CollectionDetailsActivity"
            android:screenOrientation="locked">


        </activity>
        <activity
            android:name=".ui.favourites.FavActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.fandsupport.FeedbackSupportActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.fandsupport.support.SupportActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.fandsupport.help.HelpActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.joinCommunity.contactWhatsapp.ContactWhatsAppActivity"
            android:screenOrientation="locked">

        </activity>


        <activity
            android:name="zendesk.support.request.RequestActivity"
            android:screenOrientation="locked"
            android:theme="@style/ZendeskSupportTheme" />

        <activity
            android:name="zendesk.support.requestlist.RequestListActivity"
            android:screenOrientation="locked"
            android:theme="@style/ZendeskSupportTheme" />
        <activity
            android:name=".utilities.datepicker.DatePickerActivity"
            android:screenOrientation="locked">

        </activity>
        <activity
            android:name=".ui.promotion.AdActivity"
            android:screenOrientation="locked" />
   <activity
            android:name=".ui.community.event.EventActivity"
            android:screenOrientation="locked" />
<activity
            android:name=".ui.community.details.EventDetailsActivity"
            android:screenOrientation="locked" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_8ZBt2J9hAsxH9Q" />

        <!-- <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_kelnGLZvTecvPV" />-->


        <service android:name="com.dailylocally.ui.notification.FCMMeassagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.dailylocally.ui.notification.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="im.getsocial.sdk.UiConfigurationFile"
            android:value="getsocial-light/ui-config.json" />


        <activity
            android:name=".ui.transactionHistory.TransactionHistoryActivity"
            android:screenOrientation="locked">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="/liveorders"
                    android:scheme="@string/deeplink_scheme" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bit.ly"
                    android:pathPrefix="/2WIHsYs"
                    android:scheme="@string/deeplink_scheme_https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bit.ly"
                    android:pathPrefix="/3fBlYWb"
                    android:scheme="@string/deeplink_scheme_https" />
            </intent-filter>


            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dailylocally.page.link"
                    android:pathPrefix="/6eZ4"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="/liveorders"
                    android:scheme="@string/deeplink_scheme_https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="/liveorders"
                    android:scheme="@string/deferred_deeplink_scheme" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.communityOnboarding.CommunityOnBoardingActivity"
            android:screenOrientation="locked">


        </activity>

        <activity
            android:name=".ui.joinCommunity.CommunityActivity"
            android:screenOrientation="locked">


        </activity>

        <activity android:name=".ui.joinCommunity.communityLocation.CommunityAddressActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".ui.joinCommunity.viewProfilePic.ViewPhotoActivity"
            android:screenOrientation="locked">

        </activity>



        <activity android:name=".ui.aboutus.AboutUsActivity" />


    </application>


</manifest>